#friends-display-link {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #f9f9fa;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
  opacity: 0.9;
  margin-bottom: 10px;
}

#friends-display-link i {
  opacity: 0.3;
  margin: 5px;
}

.friends-screen__channel-header {
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  opacity: 0.6;
  font-weight: 600;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
