.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.nav .badge:hover {
  animation: badgeAnimation 2s ease-in-out infinite forwards;
}

@keyframes badgeAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}
