.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0px;
}

.user-component:hover {
  background: #191919;
  border: 2px solid #16a085;
  margin: 6px -20px;
  padding: 0 18px;
}

.user-component__avatar {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 12px;
  font-size: 14px;
  opacity: 0.3;
}

.user-component__avatar--xl {
  width: 60px;
  height: 60px;
}

.user-component__avatar--sm {
  width: 40px;
  height: 40px;
  border-radius: 16px;
}

.user-component__title--not-bold {
  font-weight: 600;
  font-size: 15px;
}

.user-component__column-second {
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.5;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  opacity: 0.5;
  font-weight: 500;
  display: block;
  margin: 10px;
}

.user-component__unread-chat {
  margin-right: 10px;
}
